#recipesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 0 0 0;
}

#filtersOrderBy {
  margin: 30px 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#recipesToRender {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0 0 0;
}

@media (max-width: 390px) {
  #filtersOrderBy {
    flex-direction: column;
  }
}
