#sortByContainer {
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  text-align: left;
}

#sortByText {
  font-size: 15px;
  color: #7f7f7f;
  text-align: left;
  margin: 10px 0 0 20px;
}

#sortDiets select {
  width: 150px;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: inset 3px 3px 8px #bebebe, inset -1px -1px 8px #ffffff;
  border: none;
  height: 30px;
  margin: 5px 10px 10px 10px;
  padding: 0 0 0 15px;
  font-size: 20px;
  text-transform: capitalize;
  color: #7f7f7f;
  cursor: pointer;
}

#sortDiets select:focus {
  outline: none;
}

#sortDiets option {
  height: 200px;
  color: #7f7f7f;
  margin: 20px;
}
